@using SeyahatBlogu.Models.Siniflar
@model List<Blog>

@{
    ViewBag.Title = "Home Page";
}

<div class="header-banner">
    <div class="wrap">
        <div class="banner">
            <div class="indent">
                <h2 class="indent-left margin-bot" style="margin-right:70px;">Seyahat Planım</h2>
                <div class="banner-left">
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="/web/images/glass.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Restoranlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="/web/images/flight.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Uçuşlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="/web/images/group.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Yapılacaklar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="/web/images/key.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Tatil Fırsatları</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_bottom_right_images">

                    <div class="slider">
                        <ul class="rslides" id="slider1">
                            @foreach (var item in Model)
                            {
                                <li>
                                    <a href="/Blog/BlogDetay/@item.ID">
                                        <img src="@item.BlogImage" alt="" style="width: 670px; height: 350px; object-fit: cover;">
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="wrap">
    <div class="wrapper">
        <div class="con-top" style="text-align:center;">
            <h3>Seyahat Bloğu Sitemize Hoş Geldiniz</h3>
            <p>Sitemiz, Türkiye’de ve yurt dışında gezilecek yerler hakkında detaylı bilgiler sunan bir seyahat, tatil ve gezi rehberidir. En güzel gezi blogları içinde güvenilir ve güncel bilgiler vererek kendine özgü bir yer edinmek isteyen, hem deneyim hem araştırmaların sonucu, sadece kaliteli içeriklerin derlendiği özgün bir gezi blogu sitesidir.</p>
            <p>
                Takip edilen ve beğenilen seyahat blogları düzenli içerik üreten ve yazılarında bir dürüstlük ve samimiyet bulabildiklerinizdir. Yine bu tarzdaki blogların, dünyanın en büyük ikinci sektörü olan tatil alanında faaliyet gösteren markalar tarafından ciddiye alınanlardır.
            </p>
        </div>

        @Html.Action("Partial1","Home")
        
        <div class="grids">
            <div class="box1">
                @Html.Action("Partial3","Home")
                @Html.Action("Partial4","Home")
                <div class="clear"></div>
            </div>
        </div>
    </div>

</div>