@using SeyahatBlogu.Models.Siniflar
@model List<Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="py-3">Blog Listesi</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Başlık</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detay</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Baslik</td>
                <td><a class="btn btn-outline-warning" href="/Admin/BlogSil/@item.ID">Sil</a></td>
                <td><a class="btn btn-outline-danger" href="/Admin/BlogGetir/@item.ID">Güncelle</a></td>   
                <td><a class="btn btn-outline-info" href="/Blog/BlogDetay/@item.ID">Detay</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Admin/YeniBlog" class="btn btn-outline-success mb-5">Yeni Blog</a>
